@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --cor-primaria: #ff671f;
    --cor-fundo-primaria: #ffff;
    --cor-secundaria: #e9e1cd;
    --cor-terciaria: #253127;
    --cor-hover: #272727;
    --cor-retangulo: #faf7f1;
    --cor-fonte-retangulo: #3e5b43;

    /* --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727; */

    /* --cor-primaria: #fa7070;
    --cor-secundaria: #c6ebc5;
    --cor-terciaria: #fbf2cf;
    --cor-hover: #a1c298; */

    /* coffe */
    /* 
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;
    --cor-hover: #3f4e4f; */

    /* Dark */

    /* --cor-primaria: #0f0e0e;
    --cor-secundaria: #eeeeee;
    --cor-terciaria: #8b9a46;
    --cor-hover: #541212; */

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #253127;
    border: none;
}

input,
label {
    display: block;
    width: 100%;
}

input:focus,
label:focus {
    outline-style: none;
}

a {
    color: #ff671f;
}

body {
    padding-top: 5vh;
    background-image: url('../BackgroundOng.png');
    background-size: cover;
    background-position: left 10% bottom 10%;

    display: flex;

    flex-direction: row;


}

/* form */
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: 5%;
    background-color: #ffff;
    border-radius: 10px;
    padding: 25px;

}

#main-container h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    /*adptada ao elemento root */
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;

    width: 100%;


    /* margin: 5%; */

}

/* form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    
} */

form div {
    /* display: flex;    
    flex-direction: column;
    
    justify-content: space-between;
    height: 500px; */


}

.formulario__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario h1 {
    margin: 40px;
}

.formulario__lado__direito {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /* margin-bottom: -130px; */

}

#sobreNome {
    margin-bottom: 290px;

}



.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

input {
    width: 100%;
    cursor: pointer;
    background: #FAF7F1;
    border-radius: 8px;
    padding: 13px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input {
    border-color: #ff671f;
}

.apresentacao {
    background-color: #ff671f;
    width: 150px;
    text-align: center;
    border-radius: 08px;
    font-size: 30px;
    padding: 02px 52px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Dongle", sans-serif;

}

.apresentacao2 {
    background-color: #ffffff;
    width: 150px;
    margin: 10px 50px 20px;
    text-align: center;
    border-radius: 08px;
    border-width: medium;
    border-style: solid;
    border-color: #ff671f;
    font-size: 30px;
    padding: 01px 10px;
    text-decoration: none;
    color: #ff671f;
    font-family: "Dongle", sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}

.form {
    display: flex;

    flex-direction: column;

    margin: 40px;
}

.formulario__botoes {
    display: flex;
    gap: 40px;


}

.criar {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

    font-weight: bolder;
    width: 40%;
    padding: 5px 0 5px 0;

    border: 1px solid transparent;

    border-radius: 10px;

    text-decoration: none;

    font-family: "Dongle", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.ja-tenho-uma-conta {

    color: var(--cor-primaria);

    font-weight: bolder;

    padding: 5px;
    width: 70%;
    border: 1px solid var(--cor-primaria);

    border-radius: 10px;

    text-decoration: none;

    font-family: "Dongle", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.formulario__form__links {
    display: flex;
    justify-content: center;

    gap: 50px;
    padding: 15px;
}

.formulario__inputs {
    width: 563px;
}